label{
    font-weight: 800;
}

input{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.div{
    width: 30%;
    padding: 12px;
}
button{
    border-radius: 14px ;
    border: 0px;
    margin: 2px;
    padding: 4px 10px;
    background-color: black;
    color: #fff;
    font-size:large;
    text-align: center;
}
